#flowers {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container img {
    height: 100px;
    width: 100px;
}

li {
    border: solid 2px black;
    padding: 10px;
    margin: 10px;
}