.container {
    width: 200px;    
    border: solid 2px black;
    padding: 15px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
       
}

.container img {
    height: 100px;
    width: 100px;
}
